<div
  class="text-center text-xl sm:text-2xl md:text-4xl font-extralight transition duration-150 grid grid-row-12 gap-6 content-center p-6 mx-auto h-full overflow-y-scroll scrollbar-w-1.5 scrollbar-track-gray-100 scrollbar-thumb-rounded scrollbar-thumb-gray-300 shadow-lg bg-fixed bg-bottom bg-cover bg-no-repeat"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.47),rgba(0, 0, 0, 0)), url(/images/img2.jpg); height:60vh;"
>
  <div class="text-white uppercase my-2 gap-4 w-full flex flex-col row-span-6">
    <div>
      Order your favorite food
    </div>
    <div>
      Choose Pegas Food
    </div>
  </div>
  <div class="flex justify-center items-center gap-4 row-span-2">
    <button
      class="bg-green-600 hover:bg-green-900 px-5 py-2.5 text-sm leading-5 rounded-md font-light text-white"
      href="#"
    >
      Menu
    </button>
    <button
      class="bg-green-600 hover:bg-green-900 px-5 py-2.5 text-sm leading-5 rounded-md font-light text-white"
      href="#"
    >
      Place an order
    </button>
  </div>
</div>