{{page-title 'Meals'}}
<div class="w-full my-3 lg:mb-6 text-2xl flex items-center justify-center text-center">
  <div class="text-3xl md:text-4xl lg:text-5xl text-black font-extralight">
    Choose Your Next Meal
  </div>
</div>
<Meals @meals={{@model}} />